.well.col-xs-9.col-sm-9.col-md-8.col-lg-8
  %h1 Welcome to enumerable tutor
  %p 
    We provide you with a ruby sandbox and predefined challenges to let you practice your enumerable methods. When you complete these challenges, you'll
    be able to make arrays and hashes dance for you with ease.
